﻿#body_gv_btnAdd .btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover {
    box-shadow: none !important;
    outline: 0;
}

#body_gv_filter {
    display: inline;
    margin-right: 10px;
}

div.dt-buttons {
    float: right;
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    div.dt-buttons {
        width: auto;
    }
}
